.journey-card-header_item {
  display: inline-grid;
  flex-grow: 1;
  flex-basis: 1px;
  width: min-content;
  grid-auto-rows: min-content;
}

.journey-card-contents {
  overflow: auto;
  cursor: auto;
}

.open-enter-active,
.open-leave-active {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s;
  // transition: all 5s;
  // max-height: auto;
  // overflow: hidden;
}

.open-enter-from,
.open-leave-to {
  // display: block;
  // max-height: 0px;
  // overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s;
}

.arrow {
  border: solid $body-color-dark;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: all 0.3s;
}

.right {
  transform: translateX(-20%) rotate(-45deg);
}

.left {
  transform: translateX(20%) rotate(135deg);
}

.up {
  transform: translateY(20%) rotate(-135deg);
}

.down {
  transform: translateY(-20%) rotate(45deg);
}

.sort-col {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
}

.sort-col:hover {
  color: #fff;
  z-index: 1;
}

.sort-col:active {
  transform: scale(0.95);
}

.fit-content {
  max-width: fit-content;
}

$time_col_width: 85px;
$fancy_line_width: 20px;

.details-grid {
  margin: 10px 0;
  display: inline-grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 100%;
}

@include media-breakpoint-up(sm) {
  .details-grid {
    margin: 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}

.leg {
  @include border-radius;
  display: inline-grid;
  padding: 15px;
  gap: 5px;
  grid-template-columns:
    $time_col_width $fancy_line_width 1fr
    max-content;
  grid-template-areas:
    'time-origin fancy-line station-origin platform-origin'
    'duration fancy-line train train'
    'times-stopovers fancy-line stopovers stopovers'
    'time-destination fancy-line station-destination platform-destination';
}

.stopover {
  display: inline-grid;
  gap: 5px;
  grid-template-columns: $time_col_width $fancy_line_width 1fr;
  grid-template-areas: 'times fancy-line station';

  .time {
    grid-area: times;
  }

  .station {
    grid-area: station;
  }

  .fancy-line {
    grid-area: fancy-line;
  }
}

.station {
  @include border-radius;
  font-weight: bold;
  margin: auto 0;

  overflow-wrap: anywhere;
  hyphens: auto;

  &.origin {
    grid-area: station-origin;
  }

  &.destination {
    grid-area: station-destination;
  }
}

.time {
  text-align: end;

  &.origin {
    grid-area: time-origin;
    align-self: start;
  }

  &.destination {
    grid-area: time-destination;
    align-self: end;
  }
}

.duration {
  text-align: end;
  grid-area: duration;
  align-self: center;
}

.platform {
  text-align: end;
  margin: auto 0;

  &.origin {
    grid-area: platform-origin;
    align-self: start;
  }

  &.destination {
    grid-area: platform-destination;
    align-self: end;
  }
}

.train {
  margin: 15px 5px;
  grid-area: train;
  overflow-wrap: anywhere;
  hyphens: auto;

  img {
    height: 20px;
  }
}

.score {
  grid-area: score;
}

.transfer {
  display: grid;
  gap: 5px;
  padding: 15px;
  grid-template-columns: $time_col_width $fancy_line_width 1fr;
  grid-template-areas:
    'duration fancy-line score'
    'duration fancy-line min-transfer-duration'
    'duration fancy-line walk';
}

.walk {
  grid-area: walk;
}

.station_delay_line_container {
  grid-area: fancy-line;
  display: grid;
  position: relative;
}

.station_delay_line {
  width: 2px;
  margin: 28px auto;
  z-index: 2;
}

.station-marker {
  z-index: 3;
  position: absolute;
  line-height: 60px; // Same as histogram height
}

.transfer-line-container {
  grid-area: fancy-line;
  display: flex;
  justify-content: center;
}

.transfer-line {
  border: 1px dashed $gray-500;
  align-self: center;
  z-index: 1;
  height: calc(100% + 16ch);
}
