// Overview over used variables / colors
// $gray-500: Text color for disclaimers and transfer line
// $body-color-dark: Normal text color (some light gray)
// $light-bg-subtle-dark: Background for legs

$primary: #3f51b5;
$secondary: #1a1e21;
$tertiary: #373b3e;
// $success: ;
// $info: $page_gray_text;
// $warning: ;
// $danger: #bb0000;
// $light: lightgray;
$dark: #212529;

$blue: $primary;
$black: #000;

$body-bg-dark: $secondary;
$input-group-addon-bg: $dark;

$nav-height: 64.4px;
$border-radius: 0.375rem;
$enable-rounded: true;

$display-font-sizes: (
  1: 4.5rem,
  2: 4rem,
  3: 3.5rem,
  4: 3rem,
  5: 2.5rem,
  6: 2rem
);

$form-check-input-width: 1.5em;
$form-check-input-border-radius: $border-radius;

$box-shadow: 0 0 1rem rgba($black, 0.35);

:root {
  --slider-connect-bg: #{$primary};
  --slider-tooltip-bg: #{$primary};
  --slider-handle-ring-color: #3b82f630;
}
