<template>
  <div class="transfer">
    <div class="duration d-flex flex-column">
      <time-duration
        v-if="transferDuration"
        class="duration"
        :duration="transferDuration"
      ></time-duration>
    </div>

    <div class="transfer-line-container">
      <div class="transfer-line"></div>
    </div>

    <div class="score my-2" v-if="transfer.transferScore !== undefined">
      Anschlussicherheit:
      <span class="px-2 py-1 rounded border" v-bind:style="transferScoreColor"
        >{{ Math.trunc(transfer.transferScore * 100) }}%</span
      >
    </div>

    <needed-transfer-duration class="my-2" :transfer="transfer" />

    <div class="walk my-2" v-if="transfer.distanceMeters">
      <i class="icon icon-person-walking-solid"></i>
      {{ Math.round(transfer.distanceMeters) }} m Fußweg
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import dayjs from 'dayjs'
import { rdylgrColormap } from '@/assets/ts/colormap'
import TimeDuration from '@/components/TimeDuration.vue'
import NeededTransferDuration from '@/components/JourneyDisplay/NeededTransferDuration.vue'
import { type Transfer, type Leg } from '@/assets/ts/fptfTypes'

const props = defineProps<{
  transfer: Transfer
  previousLeg?: Leg
  nextLeg?: Leg
}>()
const transferDuration = computed(() => {
  return dayjs.duration(dayjs(props.nextLeg?.departure).diff(props.previousLeg?.arrival))
})

const transferScoreColor = computed(() => {
  return {
    ...(props.transfer.transferScore && {
      color: rdylgrColormap(props.transfer.transferScore, 0.5, 1, 200),
      'border-color': rdylgrColormap(props.transfer.transferScore, 0.5, 1, 200) + ' !important'
    })
  }
})
</script>
