<script setup lang="ts">
import { ref } from 'vue'
import { type Journey } from '@/assets/ts/fptfTypes'
import JourneyLegs from '@/components/JourneyDisplay/JourneyLegs.vue'
import JourneyHeader from '@/components/JourneyDisplay/JourneyHeader.vue'

const { refreshButton = false } = defineProps<{
  journey: Journey
  refreshButton?: boolean
}>()

const showLegs = ref(false)
</script>

<template>
  <div class="pointer-cursor border rounded bg-dark my-3">
    <journey-header
      @click="showLegs = !showLegs"
      :journey="journey"
      :refreshButton="refreshButton"
    ></journey-header>
    <transition name="open">
      <journey-legs :journeyLegs="journey.legs" v-if="showLegs"></journey-legs>
    </transition>
  </div>
</template>
