<template>
  <div class="journey-card-contents">
    <div class="overflow-hidden">
      <div class="details-grid">
        <div class="d-contents" v-for="(leg, index) in props.journeyLegs" :key="index">
          <journey-leg v-if="leg.type === 'leg'" :leg="leg"></journey-leg>
          <journey-transfer
            v-else-if="leg.type === 'transfer'"
            :previousLeg="props.journeyLegs[index - 1]"
            :transfer="leg"
            :nextLeg="props.journeyLegs[index + 1]"
          ></journey-transfer>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { type Leg, type Transfer } from '@/assets/ts/fptfTypes'
import JourneyLeg from '@/components/JourneyDisplay/JourneyLeg.vue'
import JourneyTransfer from '@/components/JourneyDisplay/JourneyTransfer.vue'

const props = defineProps<{
  journeyLegs: (Leg | Transfer)[]
}>()
</script>
