<template>
  <div>
    <div class="d-flex p-2 gap-2">
      <div class="d-flex flex-column">
        <outdated-info
          :real="departure.time.format('HH:mm')"
          :planned="departure.plannedTime?.format('HH:mm')"
        ></outdated-info>
      </div>
      -
      <div class="d-flex flex-column">
        <outdated-info
          :real="arrival.time.format('HH:mm')"
          :planned="arrival.plannedTime?.format('HH:mm')"
        ></outdated-info>
      </div>
      |
      <div class="d-flex flex-column">
        <time-duration
          :duration="summary.duration"
          :plannedDuration="summary.plannedDuration"
        ></time-duration>
      </div>
      |
      <div>{{ summary.transfers }} Umst.</div>

      <refresh-journey-button
        class="ms-auto align-self-start"
        v-if="props.refreshButton"
        :refresh-token="journey.refreshToken"
      ></refresh-journey-button>
    </div>
    <products-durations
      class="p-2"
      :summaries="summary.journeySegmentSummaries"
    ></products-durations>

    <div class="d-flex p-2 gap-2">
      <div class="btn border rounded" :style="[scoreColor]">{{ summary.connectionScore }}%</div>
      <BuyTicketButton
        class="flex-fill"
        :datetime="departure.time"
        :price="journey.price"
        :start="journey.legs[0].origin.name"
        :destination="journey.legs.at(-1).destination.name"
        :refreshToken="journey.refreshToken"
      ></BuyTicketButton>
      <save-journey-button class="flex-fill" :journey="journey"></save-journey-button>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { rdylgrColormap } from '@/assets/ts/colormap'
import BuyTicketButton from '@/components/JourneyDisplay/BuyTicketButton.vue'
import { type Journey } from '@/assets/ts/fptfTypes'
import OutdatedInfo from '@/components/OutdatedInfo.vue'
import { getJourneySummary, getJourneyDeparture, getJourneyArrival } from '@/assets/ts/fptfHelpers'
import TimeDuration from '@/components/TimeDuration.vue'
import ProductsDurations from '@/components/JourneyDisplay/ProductsDurations.vue'
import SaveJourneyButton from '@/components/JourneyDisplay/SaveJourneyButton.vue'
import RefreshJourneyButton from '@/components/JourneyDisplay/RefreshJourneyButton.vue'

const props = defineProps<{
  journey: Journey
  refreshButton: boolean
}>()

const summary = computed(() => {
  return getJourneySummary(props.journey)
})
const departure = computed(() => {
  return getJourneyDeparture(props.journey)
})
const arrival = computed(() => {
  return getJourneyArrival(props.journey)
})
const color = computed(() => {
  return rdylgrColormap(summary.value.connectionScore, 50, 100, 200)
})

const scoreColor = computed(() => {
  return {
    color: color.value,
    'border-color': color.value + ' !important'
  }
})
</script>
