<template>
  <div class="leg bg-light-subtle rounded">
    <router-link to="/blog/time-histograms" target="_blank" style="cursor: help">
      <time-histogram
        class="time origin"
        :time="leg.departure ? dayjs(leg.departure).tz('Europe/Berlin') : undefined"
        :plannedTime="
          leg.plannedDeparture ? dayjs(leg.plannedDeparture).tz('Europe/Berlin') : undefined
        "
        :prediction="leg.departureDelayPrediction"
      >
      </time-histogram>
    </router-link>

    <div class="station_delay_line_container">
      <i class="icon icon-record-fill station-marker fs-5" :style="originStyle" style="top: 0"></i>
      <div v-bind:style="gradientLine" class="station_delay_line"></div>
      <i
        class="icon icon-record-fill station-marker fs-5"
        :style="destinationStyle"
        style="bottom: 0"
      ></i>
    </div>

    <div class="station origin">
      {{ leg.origin.name }}
    </div>

    <div class="platform origin">
      <outdated-info
        v-if="leg.departurePlatform"
        :real="'Gl. ' + leg.departurePlatform"
        :planned="leg.plannedDeparturePlatform ? 'Gl. ' + leg.plannedDeparturePlatform : undefined"
      ></outdated-info>
    </div>

    <div class="duration d-flex flex-column">
      <time-duration :duration="durations.duration" :planned-duration="durations.plannedDuration">
      </time-duration>
    </div>

    <div class="train">
      <div class="name px-2 py-1 bg-dark rounded fit-content fw-bold">
        <i
          class="icon icon-high-speed-train"
          v-if="
            ['ICE', 'IC', 'EC', 'ECE', 'TGV', 'RJ', 'RJX', 'EN', 'FLX', 'NJ'].includes(
              leg.line.productName
            )
          "
        ></i>
        <i
          class="icon icon-bus"
          v-else-if="
            leg.line.productName === 'BUS' ||
            leg.line.productName === 'Bus' ||
            leg.line.productName === 'SEV'
          "
        ></i>
        <i class="icon icon-local-train" v-else></i>
        <span class="ms-2">{{ leg.line.name }}</span>
      </div>
      <div class="direction mt-1 fw-light">
        {{ leg.direction ? 'nach ' + leg.direction : '' }}
      </div>
    </div>

    <stopover-names
      style="grid-area: times-stopovers / times-stopovers / times-stopovers / stopovers"
      v-if="leg.stopovers"
      :stopovers="leg.stopovers"
    ></stopover-names>

    <router-link to="/blog/time-histograms" target="_blank" style="cursor: help">
      <time-histogram
        class="time destination"
        :time="leg.arrival ? dayjs(leg.arrival).tz('Europe/Berlin') : undefined"
        :plannedTime="
          leg.plannedArrival ? dayjs(leg.plannedArrival).tz('Europe/Berlin') : undefined
        "
        :prediction="leg.arrivalDelayPrediction"
      ></time-histogram>
    </router-link>

    <div class="station destination">
      {{ leg.destination.name }}
    </div>

    <div class="platform destination">
      <outdated-info
        v-if="leg.arrivalPlatform"
        :real="'Gl. ' + leg.arrivalPlatform"
        :planned="leg.plannedArrivalPlatform ? 'Gl. ' + leg.plannedArrivalPlatform : undefined"
      ></outdated-info>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import dayjs from 'dayjs'
import { rdylgrColormap, rdylgrCSSLinearGradient } from '@/assets/ts/colormap'
import TimeDuration from '@/components/TimeDuration.vue'
import OutdatedInfo from '@/components/OutdatedInfo.vue'
import TimeHistogram from '@/components/JourneyDisplay/TimeHistogram.vue'
import { type Leg } from '@/assets/ts/fptfTypes'
import { getDurationsOfLeg, getExpectedDelay } from '@/assets/ts/fptfHelpers'
import StopoverNames from '@/components/JourneyDisplay/StopoverNames.vue'

const props = defineProps<{
  leg: Leg
}>()

const durations = computed(() => getDurationsOfLeg(props.leg))

const expectedDelayDeparture = computed(() =>
  getExpectedDelay(
    dayjs(props.leg.departure).tz('Europe/Berlin'),
    dayjs(props.leg.plannedDeparture).tz('Europe/Berlin'),
    props.leg.departureDelayPrediction
  )
)
const expectedDelayArrival = computed(() =>
  getExpectedDelay(
    dayjs(props.leg.arrival).tz('Europe/Berlin'),
    dayjs(props.leg.plannedArrival).tz('Europe/Berlin'),
    props.leg.arrivalDelayPrediction
  )
)

const gradientLine = computed(() => {
  return {
    ...(props.leg.departureDelayPrediction &&
      props.leg.arrivalDelayPrediction && {
        'background-image': rdylgrCSSLinearGradient(
          1 - expectedDelayDeparture.value / 10,
          1 - expectedDelayArrival.value / 10,
          10
        )
      })
  }
})

const originStyle = computed(() => {
  return {
    color: rdylgrColormap(1 - expectedDelayDeparture.value / 10, 0, 0.8, 200)
  }
})

const destinationStyle = computed(() => {
  return {
    color: rdylgrColormap(1 - expectedDelayArrival.value / 10, 0, 0.8, 200)
  }
})
</script>
