<template>
  <div class="d-flex flex-column">
    <div class="stopover">
      <button @click="open = !open" class="station btn btn-sm btn-primary fit-content">
        <span v-if="stopovers.length <= 2">Direkt</span>
        <span v-else-if="stopovers.length == 3"
          >1 Zwischenhalt <span class="arrow mx-1" :class="{ up: open, down: !open }"></span
        ></span>
        <span v-else
          >{{ stopovers.length - 2 }} Zwischenhalte
          <span class="arrow mx-1" :class="{ up: open, down: !open }"></span
        ></span>
      </button>
    </div>
    <transition name="open">
      <div v-if="open">
        <div class="overflow-hidden">
          <div class="d-flex flex-column">
            <div
              class="stopover my-2"
              v-for="stopover in stopovers.slice(1, -1)"
              :key="stopover.stop.id"
            >
              <div class="d-contents" v-if="stopover.cancelled === true">
                <i class="fancy-line d-block m-auto icon icon-record-fill stopover-marker"></i>
                <del class="station">{{ stopover.stop.name }}</del>
              </div>
              <div class="d-contents" v-else>
                <div class="time">
                  <div class="d-flex gap-1 flex-row-reverse">
                    <outdated-info
                      :real="dayjs(stopover.arrival).tz('Europe/Berlin').format('HH:mm')"
                      :planned="
                        stopover.plannedArrival
                          ? dayjs(stopover.plannedArrival).tz('Europe/Berlin').format('HH:mm')
                          : undefined
                      "
                    >
                    </outdated-info>
                  </div>
                  <div class="d-flex gap-1 flex-row-reverse">
                    <outdated-info
                      :real="dayjs(stopover.departure).tz('Europe/Berlin').format('HH:mm')"
                      :planned="
                        stopover.plannedDeparture
                          ? dayjs(stopover.plannedDeparture).tz('Europe/Berlin').format('HH:mm')
                          : undefined
                      "
                    >
                    </outdated-info>
                  </div>
                </div>
                <i class="fancy-line d-block m-auto icon icon-record-fill stopover-marker"></i>
                <div class="station">{{ stopover.stop.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
import { type Stopover } from '@/assets/ts/fptfTypes'
import dayjs from 'dayjs'
import OutdatedInfo from '../OutdatedInfo.vue'
import { ref } from 'vue'

defineProps<{
  stopovers: Stopover[]
}>()

const open = ref(false)
</script>

<style lang="scss">
.stopover-marker {
  z-index: 3;
  font-size: 12px;
}
</style>
