<template>
  <main-layout>
    <SearchForm id="search"> </SearchForm>
    <div class="py-4"></div>
    <about-text></about-text>
    <TravelDestinationsDisplay></TravelDestinationsDisplay>
  </main-layout>
</template>

<script setup lang="ts">
import SearchForm from '../components/SearchForm.vue'
import TravelDestinationsDisplay from '../components/TravelDestinationsDisplay.vue'
import MainLayout from '@/layouts/MainLayout.vue'
import AboutText from '../components/AboutText.vue'
</script>
