<template>
  <main-layout>
    <SavedJourneyList></SavedJourneyList>
  </main-layout>
</template>

<script setup lang="ts">
import SavedJourneyList from '@/components/JourneyDisplay/SavedJourneyList.vue'
import MainLayout from '@/layouts/MainLayout.vue'
</script>
