<template>
  <main-layout>
    <div class="row justify-content-center my-5">
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11 hyphenate">
        <h1>Stations- / Bahnhofsdaten</h1>
        <p>
          Unsere Stationsdaten kommen in erster Linie vom IRIS (<b>I</b>nternes
          <b>R</b>eisenden<b>i</b>nformations<b>s</b>ystem) und der RIS::Stations API.
        </p>
        <p>
          Leider verwenden viele unterschiedliche Systeme der Deutschen Bahn unterschiedliche Namen
          für Bahnhöfe und Haltestellen. Wir haben daher viele weitere Quellen mit eingebunden, um
          für jeden von uns gefundenen Bahnhofsnamen die Koordinaten und eine ID zu bekommen. Das
          ist nicht vollständig möglich, daher treten in unserem Datensatz durchaus ein paar
          Bahnhöfe und Haltestellen auf, die es eigentlich nicht gibt. Zudem ändern sich
          Bahnhofsnamen, IDs und eigentlich alle Attribute, die ein Bahnhof haben kann, mit der
          Zeit, weshalb häufig auch mehrere Bahnhöfe mit dem gleichen Namen oder der gleichen ID
          auftreten. In der Regel ist dann einer der beiden nicht mehr aktuell.
        </p>
        <p>
          Den vollen Datensatz gibt es hier:
          <a href="api/stations.json" target="_blank">stations.json</a>
        </p>
      </div>
      <div v-if="stations.length" class="text-center m-5">
        <h2 class="text-center">Beispielhafter Auszug aus den Stationsdaten</h2>
        <div class="stationviewer m-auto">
          <pre class="header">name</pre>
          <pre class="header">eva</pre>
          <pre class="header">ds100</pre>
          <pre class="header">lat</pre>
          <pre class="header">lon</pre>
          <div class="d-contents" v-for="station in stations" :key="station.name + station.eva">
            <pre>{{ station.name }}</pre>
            <pre>{{ station.eva }}</pre>
            <pre>{{ station.ds100 }}</pre>
            <pre>{{ station.lat }}</pre>
            <pre>{{ station.lon }}</pre>
          </div>
        </div>
      </div>
    </div>
  </main-layout>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useMainStore } from '@/stores/main'
import { storeToRefs } from 'pinia'
import MainLayout from '@/layouts/MainLayout.vue'

type Station = {
  name: string
  eva: string
  ds100: string
  lat: number
  lon: number
}

const store = useMainStore()
const { progressing } = storeToRefs(store)

const stations = ref<Station[]>([])

function fetchStations() {
  progressing.value = true
  fetch(__REQUEST_BASE_URL__ + 'api/stations.json')
    .then((response) => store.displayFetchError(response))
    .then((response) => response.json())
    .then((response) => {
      stations.value = response.stations.slice(0, 100)
      progressing.value = false
    })
}

onMounted(() => {
  fetchStations()
})
</script>

<style lang="scss">
.stationviewer {
  @include border-radius;
  max-width: fit-content;
  display: grid;
  grid-template-columns: 200px min-content min-content min-content min-content;
  gap: 4px;

  pre {
    @include border-radius;
    white-space: pre-wrap;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $light-bg-subtle-dark;
  }

  .header {
    font-weight: bold;
  }
}
</style>
