<template>
  <main-layout>
    <div class="row justify-content-center my-5">
      <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11">
        <h1>Bahn-Vorhersage Blog</h1>
        <p>
          An dieser Stelle werden wir in Zukunft immer über die Entwicklung von Bahn-Vorhersage
          berichten. So zumindest die Idee, mal sehen ob es jemals mehr als ein Blogbeitrag wird.
        </p>
        <h2>Blogbeiträge</h2>
        <div class="card">
          <div class="card-header">9. März 2025 von Theo Döllmann</div>
          <div class="card-body">
            <h5 class="card-title">Verspätungsverteilungen zeigen</h5>
            <p>
              Was sagen die Histogramme in der Verbindungsansicht über die Ankunfts- und
              Abfahrtszeiten der Züge aus? In diesem Blogbeitrag gehen wir auf die Details dahinter
              ein.
            </p>
            <router-link to="/blog/time-histograms" class="btn btn-primary"
              >Zum Blogbeitrag</router-link
            >
          </div>
        </div>
      </div>
    </div>
  </main-layout>
</template>

<script setup lang="ts">
import MainLayout from '@/layouts/MainLayout.vue'
import TimeHistogram from '@/components/JourneyDisplay/TimeHistogram.vue'
import dayjs from 'dayjs'
import { type DelayPrediction } from '@/assets/ts/fptfTypes'
</script>
