<template>
  <div class="row justify-content-center my-5">
    <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-11 hyphenate">
      <h1>Bahn-Vorhersage</h1>
      <p>
        Bahn-Vorhersage ist ein Rankingsystem für Zugverbindungen. Es kann für alle Zugverbindungen
        innerhalb von Deutschland einen sogenannten Verbindungsscore ermitteln. Dieser sagt aus, wie
        sicher die Anschlüsse einer Zugverbindung sind. Ein hoher Score heißt, dass vermutlich alle
        Anschlusszüge erreicht werden, ein niedriger Score bedeutet, dass eventuell nicht alle
        Anschlusszüge erreicht werden können.
      </p>
      <p>
        Ein hoher Verbindungsscore ist aber keine Garantie dafür, dass eine Verbindung funktioniert!
      </p>
      <h2>Funktionsweise</h2>
      <p>
        Die Webseite zeigt die gleichen Zugverbindungen wie die Seite der Bahn oder wie der DB
        Navigator. Der Verbindungsscore, den diese Seite zusätzlich zu den Informationen der
        Deutschen Bahn anzeigt, wird aus Zugverspätungsvorhersagen eines Machine Learning Modells
        und der Umsteigezeit berechnet.
      </p>
      <p>
        Um die Machine Learning Modelle zu trainieren, sammeln wir seit Oktober 2020 in Echtzeit
        Abfahrtszeiten von Zügen. Die von heute aus letzten sechs Wochen an historischen
        Verspätungsdaten werden für das Training verwendet. Die Modelle werden täglich neu
        trainiert. Weitere Details finden sich in den Langfassungen für Jugend-Forscht.
      </p>
      <p>
        <router-link class="btn btn-primary w-100" :to="{ path: '/opensource', hash: '#content' }"
          ><i class="icon icon-gitlab"></i> Docs / Langfassungen</router-link
        >
      </p>
      <h2>Verkehrswende</h2>
      <p>
        Angesichts der sich verschärfenden Klimakatastrophe müssen auch im Verkehrssektor die
        klimaschädlichen Emissionen so schnell wie möglich auf Null reduziert werden. Dazu und wegen
        vieler anderer Probleme, die durch das Auto verursacht werden, müssen Autofahrten vermieden
        und auf den Umweltverbund (Fuß, Rad, Bus und Bahn) verlagert werden.
      </p>
      <p>
        Da die Bahn in den letzten Jahrzehnten von der Union kaputtgespart wurde, stellt sie heute
        für viele Menschen keine Alternative zum Auto dar. Das Projekt Bahn-Vorhersage soll dazu
        beitragen, das Bahnfahren trotz häufiger Verspätungen attraktiv zu machen, indem besonders
        unzuverlässige Verbindungen vermieden werden. So wirkt die Bahn pünktlicher als sie ist.
      </p>
    </div>
  </div>
</template>
