<template>
  <nav class="navbar navbar-expand bg-dark shadow">
    <div class="container-fluid">
      <div class="navbar-nav d-flex justify-content-evenly w-100">
        <router-link
          class="nav-item nav-link d-flex flex-column align-items-center"
          :to="{ path: '/journey-search-result', hash: '#search' }"
          ><i class="icon icon-search fs-4"></i>
          <div>Suche</div></router-link
        >
        <router-link
          class="nav-item nav-link d-flex flex-column align-items-center"
          :to="{ path: '/saved-journeys', hash: '#content' }"
          ><i class="icon icon-bookmark-fill fs-4"></i>
          <div>Gespeichert</div></router-link
        >
      </div>
    </div>
  </nav>
</template>
