<template>
  <nav class="navbar navbar-expand-md bg-dark shadow">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        @click="collapse?.toggle()"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <router-link class="navbar-brand" @click="collapse?.hide()" :to="{ path: '/' }"
          ><img :src="ICImg" height="24" width="32" alt="bahnvorhersage logo"
        /></router-link>
        <div class="navbar-nav me-auto">
          <router-link
            class="nav-item nav-link"
            @click="collapse?.hide()"
            :to="{ path: '/journey-search-result', hash: '#content' }"
            >Verbindungen</router-link
          >
          <div class="nav-item dropdown">
            <router-link
              class="nav-link dropdown-toggle"
              @click="collapse?.hide()"
              :to="{ path: '/routing' }"
              >Alpha: Alternativen</router-link
            >
            <div class="dropdown-menu shadow rounded">
              <router-link
                class="nav-item nav-link"
                @click="collapse?.hide()"
                :to="{ path: '/routing' }"
                >Alternativen</router-link
              >
              <router-link
                class="nav-item nav-link"
                @click="collapse?.hide()"
                :to="{ path: '/routing/explanation' }"
                >Funktionsweise</router-link
              >
            </div>
          </div>
          <div class="nav-item dropdown">
            <router-link
              class="nav-link dropdown-toggle"
              @click="collapse?.hide()"
              data-toggle="dropdown"
              :to="{ path: '/stats', hash: '#content' }"
              >Statistiken</router-link
            >
            <div class="dropdown-menu shadow rounded">
              <router-link
                class="nav-link"
                @click="collapse?.hide()"
                :to="{ path: '/stats/overview', hash: '#content' }"
                >Übersicht</router-link
              >
              <router-link
                class="nav-link"
                @click="collapse?.hide()"
                :to="{ path: '/stats/stations', hash: '#content' }"
                >Bahnhöfe</router-link
              >
            </div>
          </div>
          <div class="nav-item dropdown">
            <router-link
              class="nav-link dropdown-toggle"
              @click="collapse?.hide()"
              data-toggle="dropdown"
              :to="{ path: '/opendata', hash: '#content' }"
              >Open Data</router-link
            >
            <div class="dropdown-menu shadow rounded">
              <router-link
                class="nav-link"
                @click="collapse?.hide()"
                :to="{ path: '/stationviewer', hash: '#content' }"
                >Stationsdaten</router-link
              >
            </div>
          </div>
          <router-link class="nav-item nav-link" @click="collapse?.hide()" :to="{ path: '/blog' }"
            >Blog</router-link
          >
        </div>
      </div>
      <div class="d-flex gap-2">
        <router-link
          class="btn btn-primary"
          @click="collapse?.hide()"
          :to="{ path: '/opensource', hash: '#content' }"
          ><i class="icon icon-gitlab"></i> GitLab / Docs</router-link
        >
      </div>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { Collapse } from 'bootstrap'
import ICImg from '@/assets/img/IC.svg'

const collapse = ref(null as Collapse | null)

onMounted(() => {
  collapse.value = new Collapse('#navbarSupportedContent', {
    toggle: false
  })
})
</script>

<style lang="scss">
.navbar .dropdown-menu {
  display: block;
}

.dropdown-menu .nav-link {
  padding-left: 1rem !important;
}

@include media-breakpoint-up(md) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
</style>
