<script setup lang="ts">
const props = defineProps<{
  real: string
  planned?: string
}>()
</script>

<template>
  <span>
    {{ props.real }}
  </span>
  <span v-if="props.planned && props.real !== props.planned">
    <del class="text-body-secondary">{{ props.planned }}</del>
  </span>
</template>
