<template>
  <div class="row justify-content-center my-5">
    <form @submit.prevent="search" id="search" class="col-xxl-7 col-xl-8 col-lg-9">
      <!-- Heading -->
      <h2 class="text-center">Verspätungen vermeiden mit Bahn-Vorhersage</h2>

      <!-- Start Bhf Form-->
      <div class="input-group mb-3">
        <span class="input-group-text fs-4"><i class="icon icon-train"></i></span>
        <auto-suggest
          name="start"
          v-model:value="searchParams.start"
          v-model:is_valid="start_valid"
          :values="stations"
          placeholder="Start (Bahnhof)"
          aria-label="Startbahnhof"
        >
        </auto-suggest>
      </div>

      <!-- End Bhf Form -->
      <div class="input-group mb-3 flex-nowrap">
        <span class="input-group-text fs-4"><i class="icon icon-train"></i></span>
        <auto-suggest
          name="destination"
          class="form-control p-0"
          v-model:value="searchParams.destination"
          v-model:is_valid="destination_valid"
          :values="stations"
          placeholder="Ziel (Bahnhof)"
          aria-label="Zielbahnhof"
        >
        </auto-suggest>
        <span class="btn btn-primary fs-4" @click="swap_stations">
          <i class="icon icon-arrow-down-up"></i>
        </span>
      </div>

      <!-- Date Form -->
      <div class="input-group mb-3">
        <span class="input-group-text fs-4"><i class="icon icon-calendar"></i></span>
        <flat-pickr
          v-model="searchParams.date"
          :config="config"
          class="form-control"
          placeholder="Datum und Uhrzeit auswählen"
          name="datetime"
          aria-label="Datum und Uhrzeit"
        >
        </flat-pickr>
        <toggle-switch
          class="align-self-center"
          style="padding: 6px 12px"
          v-model="searchParams.search_for_arrival"
        ></toggle-switch>
      </div>

      <div class="d-flex justify-content-around flex-wrap">
        <!-- Only regional checkbox -->
        <check-box
          class="mb-3"
          v-model="searchParams.only_regional"
          id="only_regional"
          label="Nur Nahverkehr"
          :inline="true"
        ></check-box>
        <!-- Bike checkbox -->
        <check-box
          class="mb-3"
          v-model="searchParams.bike"
          id="bike"
          label="Fahrradmitnahme"
          :inline="true"
        ></check-box>
      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <input
          class="btn btn-primary w-100"
          id=""
          name="submit"
          type="submit"
          value="Verbindungen bewerten"
        />
      </div>
    </form>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useMainStore } from '@/stores/main'
import { storeToRefs } from 'pinia'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import { German } from 'flatpickr/dist/l10n/de.js'

import AutoSuggest from './AutoSuggest.vue'
import ToggleSwitch from './ToggleSwitch.vue'
import CheckBox from './CheckBox.vue'

import('flatpickr/dist/themes/dark.css')

const store = useMainStore()
const { stations, searchParams: searchParams } = storeToRefs(store)

const config = ref({
  // Get more from https://flatpickr.js.org/options/
  enableTime: true,
  time_24hr: true,
  dateFormat: 'd.m.Y H:i',
  altFormat: 'd.m.Y H:i',
  locale: German
})

const start_valid = ref(false)
const destination_valid = ref(false)

function search() {
  if (start_valid.value && destination_valid.value) {
    store.fetchStations().then(async () => {
      store.getJourneys()
    })
  }
}
function swap_stations() {
  ;[searchParams.value.start, searchParams.value.destination] = [
    searchParams.value.destination,
    searchParams.value.start
  ]
}

store.fetchStations()
</script>

<style lang="scss">
@import '../assets/css/flatpickr.scss';
</style>
