<template>
  <div class="snackbar-center" :style="{ 'bottom': bottom }">
    <div id="snackbar">
      <div
        class="shadow-lg rounded snack-content"
        :class="[
          {
            'layout small': layout === 'small',
            'layout multiline': layout === 'multiline'
          },
          style_class
        ]"
      >
        <div>
          <slot></slot>
        </div>
        <slot name="action"> </slot>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, ref } from 'vue'
import { Capacitor } from '@capacitor/core';

const {style_class = 'bg-light-subtle' } = defineProps<{
  layout: 'small' | 'multiline'
  style_class?: string
}>()

const bottom = (Capacitor.isNativePlatform()) ? '100px' : '30px'

</script>

<style lang="scss">
.snackbar-center {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  position: fixed; /* Sit on top of the screen */
  z-index: 10;
}

#snackbar {
  width: 95%;
  max-width: 600px;

  .layout {
    padding: 20px 30px;
    display: grid;
    align-items: center;
  }

  .layout.small {
    grid-template-columns: auto min-content;
    column-gap: 20px;
  }

  .layout.multiline {
    grid-template-rows: auto min-content;
    row-gap: 20px;
  }
}
</style>
