<template>
  <outdated-info :real="durationString" :planned="plannedDurationString"></outdated-info>
</template>

<script setup lang="ts">
import OutdatedInfo from './OutdatedInfo.vue'
import type { Duration } from 'dayjs/plugin/duration'
import { computed } from 'vue'

const props = defineProps<{
  duration: Duration
  plannedDuration?: Duration
}>()

const durationString = computed(() => {
  let formatters = []
  if (props.duration.days() != 0) formatters.push('D[ Tag],')
  if (props.duration.hours() != 0) formatters.push('H[h]')
  if (props.duration.minutes() != 0) formatters.push('m[min]')
  return props.duration.format(formatters.join(' '))
})

const plannedDurationString = computed(() => {
  if (props.plannedDuration) {
    let formatters = []
    if (props.plannedDuration.days() != 0) formatters.push('D[ Tag],')
    if (props.plannedDuration.hours() != 0) formatters.push('H[h]')
    if (props.plannedDuration.minutes() != 0) formatters.push('m[min]')
    return props.plannedDuration.format(formatters.join(' '))
  } else {
    return ''
  }
})
</script>
