$icons-font: 'icons';

@font-face {
  font-family: $icons-font;
  src:
    url('@/assets/fonts/icons/icons.eot?9b48f154329407a102e6416323602d58#iefix')
      format('embedded-opentype'),
    url('@/assets/fonts/icons/icons.woff2?9b48f154329407a102e6416323602d58') format('woff2'),
    url('@/assets/fonts/icons/icons.woff?9b48f154329407a102e6416323602d58') format('woff');
}

i[class^='icon-']:before,
i[class*=' icon-']:before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
  'arrow-clockwise': '\f101',
  'arrow-down-up': '\f102',
  'arrow-left': '\f103',
  'arrow-right': '\f104',
  'bicycle': '\f105',
  'bookmark-check-fill': '\f106',
  'bookmark-fill': '\f107',
  'bookmark-plus': '\f108',
  'bookmark': '\f109',
  'box-arrow-up-right': '\f10a',
  'bus': '\f10b',
  'calendar': '\f10c',
  'check': '\f10d',
  'exclamation-triangle-fill': '\f10e',
  'github': '\f10f',
  'gitlab': '\f110',
  'high-speed-train': '\f111',
  'local-train': '\f112',
  'pedestrian': '\f113',
  'person-walking-solid': '\f114',
  'record-circle': '\f115',
  'record-fill': '\f116',
  'search': '\f117',
  'share-fill': '\f118',
  'train': '\f119',
  'trash-fill': '\f11a'
);

.icon-arrow-clockwise:before {
  content: map-get($icons-map, 'arrow-clockwise');
}
.icon-arrow-down-up:before {
  content: map-get($icons-map, 'arrow-down-up');
}
.icon-arrow-left:before {
  content: map-get($icons-map, 'arrow-left');
}
.icon-arrow-right:before {
  content: map-get($icons-map, 'arrow-right');
}
.icon-bicycle:before {
  content: map-get($icons-map, 'bicycle');
}
.icon-bookmark-check-fill:before {
  content: map-get($icons-map, 'bookmark-check-fill');
}
.icon-bookmark-fill:before {
  content: map-get($icons-map, 'bookmark-fill');
}
.icon-bookmark-plus:before {
  content: map-get($icons-map, 'bookmark-plus');
}
.icon-bookmark:before {
  content: map-get($icons-map, 'bookmark');
}
.icon-box-arrow-up-right:before {
  content: map-get($icons-map, 'box-arrow-up-right');
}
.icon-bus:before {
  content: map-get($icons-map, 'bus');
}
.icon-calendar:before {
  content: map-get($icons-map, 'calendar');
}
.icon-check:before {
  content: map-get($icons-map, 'check');
}
.icon-exclamation-triangle-fill:before {
  content: map-get($icons-map, 'exclamation-triangle-fill');
}
.icon-github:before {
  content: map-get($icons-map, 'github');
}
.icon-gitlab:before {
  content: map-get($icons-map, 'gitlab');
}
.icon-high-speed-train:before {
  content: map-get($icons-map, 'high-speed-train');
}
.icon-local-train:before {
  content: map-get($icons-map, 'local-train');
}
.icon-pedestrian:before {
  content: map-get($icons-map, 'pedestrian');
}
.icon-person-walking-solid:before {
  content: map-get($icons-map, 'person-walking-solid');
}
.icon-record-circle:before {
  content: map-get($icons-map, 'record-circle');
}
.icon-record-fill:before {
  content: map-get($icons-map, 'record-fill');
}
.icon-search:before {
  content: map-get($icons-map, 'search');
}
.icon-share-fill:before {
  content: map-get($icons-map, 'share-fill');
}
.icon-train:before {
  content: map-get($icons-map, 'train');
}
.icon-trash-fill:before {
  content: map-get($icons-map, 'trash-fill');
}
