<template>
  <router-view />

  <!-- Update Service worker -->
  <SnackBar v-if="needRefresh">
    Ein Update ist verfügbar
    <template v-slot:action>
      <div @click="updateServiceWorker()" class="btn btn-primary">Aktualisieren</div>
    </template>
  </SnackBar>
  <ErrorDisplay></ErrorDisplay>
</template>

<script setup lang="ts">
import { onMounted } from 'vue'
import dayjs from 'dayjs'
import 'dayjs/locale/de'

import SnackBar from './components/SnackBar.vue'
import ErrorDisplay from './components/ErrorDisplay.vue'
import printLogo from './assets/ts/bahnvorhersageLogo'
import { useRegisterSW } from 'virtual:pwa-register/vue'

dayjs.locale('de')

const { needRefresh, updateServiceWorker } = useRegisterSW()

onMounted(() => {
  printLogo()

  // Disable PWA install as there is a "native" app
  window.addEventListener('beforeinstallprompt', (e) => {
    e.preventDefault()
  })
})
</script>

<style lang="scss">
@import '@/assets/scss/stripedDownBootstrap.scss';
@import '@/assets/fonts/icons/icons.scss';
@import '@/assets/fonts/icons/icons-overrides.scss';
@import '@/assets/scss/journeyDisplay.scss';

.hyphenate {
  hyphens: auto;
}

.disclaimer {
  color: $gray-500;
}

.pointer-cursor {
  cursor: pointer;
}

.d-contents {
  display: contents;
}

.form-check-label {
  text-shadow: 0px 0px 1px $light;
  transition: color 0.1s;
}

.form-check-label.inactive {
  text-shadow: none;
}
</style>
