<script setup lang="ts">
import NavBar from '@/components/NavBar.vue'
import PageFooter from '@/components/PageFooter.vue'
import cliLogo from '@/assets/img/cli-logo.svg'
</script>

<template>
  <NavBar></NavBar>
  <img class="mt-5" :src="cliLogo" alt="CLI Logo" />
  <main class="container-md" style="min-height: calc(100vh - 50px)">
    <slot />
  </main>

  <PageFooter></PageFooter>
</template>
